/* styles/Message.module.css */
.message {
    padding: 20px 15px;
    font-weight: bold;
    color: #fff;
  }
  
  /* We use 'composes' to reduce code repetition */
  .success {
    composes: message;
    background: #4caf50;
  }
  
  /* We use 'composes' to reduce code repetition */
  .error {
    composes: message;
    background: #f44336;
  }